.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.issueLinkSeparator {
  border-top: 1px solid;
  margin-top: 30px;
  padding-top: 10px;
  border-color: #d0d7de;
}

.mailIcon {
  position: relative;
  top: 7px;
}

.contributionIcon {
  position: relative;
  top: 7px;
}

@media (min-width: 997px) {
  .reportIssueText {
    text-align: right;
  }
}
